In [ ]:
!pip install yfinance

In [1]:
import yfinance as yf

In [2]:
from datetime import datetime

In [3]:
now= datetime.now()
date=now.day
month=now.month
year=now.year
hour=now.hour
minute=now.minute
second=now.second

In [4]:
start=f'{int(year)-1}-{month}-{date}'
end=f'{year}-{month}-{date}'

In [5]:
start

'2022-7-24'

In [6]:
end

'2023-7-24'

In [7]:
hisse='TCELL'
df= yf.download(f'{hisse}.IS',start,end)
df

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close     Volume
Date
2022-07-25  17.900000  17.930000  17.760000  17.780001  17.208286   21569885
2022-07-26  17.340000  17.379999  17.090000  17.160000  17.160000   12666598
2022-07-27  17.219999  17.219999  16.930000  16.980000  16.980000   11845946
2022-07-28  17.120001  17.150000  16.730000  16.740000  16.740000   15698379
2022-07-29  16.790001  16.980000  16.620001  16.920000  16.920000   15563538
...               ...        ...        ...        ...        ...        ...
2023-07-17  43.400002  44.419998  43.259998  44.419998  44.419998   55516747
2023-07-18  44.560001  48.220001  43.939999  44.759998  44.759998  136557691
2023-07-19  45.000000  47.900002  44.820000  47.119999  47.119999  112966193
2023-07-20  47.400002  47.639999  45.779999  46.580002  46.580002   67236906
2023-07-21  46.580002  48.520000  46.480000  47.000000  47.000000   59596654

[249 rows x 6 columns]

In [ ]:
import yfinance as yf
from datetime import datetime

now= datetime.now()
date=now.day
month=now.month
year=now.year
hour=now.hour
minute=now.minute
second=now.second


start=f'{int(year)-1}-{month}-{date}'
end=f'{year}-{month}-{date}'


hisse='TCELL'
df= yf.download(f'{hisse}.IS',start,end)
df